apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    app: {{ service_name }}-sslproxy
  name: {{ service_name }}-sslproxy
  namespace: default
spec:
  replicas: 1
  selector:
    app: {{ service_name }}-sslproxy
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ service_name }}-sslproxy
      name: {{ service_name }}-sslproxy
    spec:
      containers:
      - image: nginx:1.8.1
        imagePullPolicy: IfNotPresent
        name: {{ service_name }}-sslproxy
        resources: {}
        securityContext:
          privileged: false
        terminationMessagePath: /dev/termination-log
        # see https://github.com/kubernetes/kubernetes/issues/19764
        command: ["nginx", "-c", "/etc/configmap/nginx.conf", "-g", "daemon off;"]
        volumeMounts:
          - name: "ssl-certs"
            mountPath: "/etc/secrets"
            readOnly: true
          - name: "nginx-conf"
            mountPath: "/etc/configmap/"
      volumes:
      - name: "ssl-certs"
        secret:
          secretName: "{{ service_name }}-ssl"
      - name: nginx-conf
        configMap:
          name: "{{ service_name }}-sslconf"
          items:
          - key: nginx.conf
            path: nginx.conf
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
