apiVersion: "v1"
kind: "Secret"
metadata:
 name: "{{ secret_name }}"
 namespace: "{{ secret_namespace }}"
data:
{% for data in secret_files %}
   {{ data.name }}: {{  lookup('file', data.filename) | b64encode }}
{% endfor %}
